node_modules/
mongoData/
client/executive/node_modules
client/executive/coverage
client/executive/build
client/customer/node_modules
client/customer/coverage
client/customer/build
package-lock.json
pipeline/train/data/
pipeline/train/data/vocab.txt